# Zaragoza Hogares

In [2]:
import pandas as pd
import numpy as np
import os

In [16]:
#cargamos el dataset de Zonas BÃ¡sicas de salud
df = pd.read_csv("datasets/hogarzbs.csv", sep=";")
print(df.shape)
df.head()

(39, 9)

,ZBS_cod,km2,ZBS_nom,M2V,HMC,PSH,PSV,V5P,PTV5
0,3616.0,1.650576,OLIVER,78.155638,27.958652,2.585106,2.782742,19.811047,8.838710
1,5412.0,0.887078,ACTUR NORTE,96.380261,35.869614,2.600956,2.680481,2.102930,1.014346
2,5413.0,2.894202,ACTUR OESTE,93.702854,33.666697,2.731181,2.811421,7.158252,3.378627
3,5406.0,1.132393,ACTUR SUR,99.491059,37.200524,2.590192,2.666201,2.122642,0.925764
4,0.0,3064.420941,NaN,90.350000,35.548000,2.414925,2.556434,11.489081,4.686001

In [17]:
#cargamos el dataset de secciones censales
df2 = pd.read_csv("datasets/hogarscc.csv", sep=";")
print(df2.shape)
df2.head()

(492, 10)

,CUSEC,DISTRITO,TIPO,Shape_Area,M2V,HMC,PSH,PSV,V5P,PTV5
0,5.029701e+09,1.0,SECCION CENSAL,100256.366366,77.545304,35.746991,1.961456,2.194012,19.650655,5.748503
1,5.029701e+09,1.0,SECCION CENSAL,69166.116101,92.881509,42.444559,1.945906,2.092767,8.339594,2.830189
2,5.029701e+09,1.0,SECCION CENSAL,48532.667442,118.684608,51.028485,2.355932,2.422658,3.776978,1.307190
3,5.029701e+09,1.0,SECCION CENSAL,23215.579431,95.394241,40.193316,2.052273,2.291878,3.654485,1.269036
4,5.029701e+09,1.0,SECCION CENSAL,37957.130439,69.437814,30.534264,2.005593,2.227329,21.193530,6.956522

In [18]:
#cargamos el dataset para juntas
df3 = pd.read_csv("datasets/hogarjunt.csv", sep=";")
print(df3.shape)
df3.head()

(30, 10)

,ID_PADRON,km2,TIPO,NOMBRE,M2V,HMC,PSH,PSV,V5P,PTV5
0,1.0,1.984486,Distrito Municipal,Casco HistÃ³rico,81.214936,34.231575,2.175476,2.376183,16.905317,6.216026
1,2.0,1.808639,Distrito Municipal,Centro,107.428281,44.919535,2.232360,2.352661,6.160641,2.390701
2,3.0,2.895720,Distrito Municipal,Delicias,79.964299,31.543033,2.346198,2.535168,19.390224,7.649412
3,4.0,5.672394,Distrito Municipal,La Almozara,86.109442,33.957596,2.377034,2.500872,11.432653,4.678022
4,5.0,3.055572,Distrito Municipal,Universidad,102.474546,41.079547,2.352884,2.475826,7.129485,2.727228